//====================================================================================================
.price {

	/* .price__content */
	&__content {}

	/* .price__body */
	&__body {}

	/* .price__form */
	&__form {
		@include adaptiv-font(32,24,1);
		display: flex;
		justify-content: center;
		gap: 10px;
		align-items: center;
		margin: 20px auto 0 auto;
		border: 1px solid $textColor;
		border-radius: 20px;
		width: max-content;
		padding: 20px 20px;
		height: 100px;
		@media (max-width:$md3+px){
			 flex-direction: column;
			 height: auto;
		}
		@media (max-width:$md4+px){
			 padding: 0;
			 border: none; 
		}
		input{
			width: 280px;
			border-radius: 10px;
			padding: 10px;
		}
		button{
			white-space: nowrap;
			background: $textColor;
			padding: 10px;
			border-radius: 10px;
			font-weight: 500;
			text-transform: uppercase;
			@media (max-width:$md3+px){
				justify-content: center;
				width: 280px;
			}
		}
	}

	/* .price__title */
	&__title {
		margin: 40px auto;
		text-align: center;
		width: 100%;
		border-radius: 40px;
		background: $btnColor;
		padding: 10px 20px;
		@media (max-width:$md3+px){
			 margin: 20px auto; 
		}
	}

	/* .price__subtitle */
	&__subtitle {
		@include adaptiv-font(32, 24, 1);
		font-weight: 700;
		line-height: 130%;
		text-align: center;
		margin: 20px auto 10px auto;
	}

	/* .price__grid */
	&__grid {
		@include adaptiv-font(28, 20, 1);
		font-weight: 700;
		line-height: 130%;
		display: grid;
		grid-template: 1fr / 1fr 0.1fr;
		justify-content: space-between;
		align-items: center;
		span{
			border: 1px solid $mainColor;
			height: 100%;
			display: flex;
			align-items: center;
			padding: 5px;
		}
		span:nth-child(2n){
			text-align: center;
			justify-content: center;
		}
	}

	/* .price__nb */
	&__nb {
		margin-top: 20px;
		@include adaptiv-font(16,12,1);
	}
}

//====================================================================================================